footer{
    position:absolute;
    left: 0px;
    right: 0px;
    background-color: green;
    color: white;
}
footer ul{
    display: flex;
    list-style: none;
}
footer ul li{
    display:inline-flex;
    margin-right:10px;
}