<div class="content">
    <article class="articulo">
    <h3>Formulario de Contacto:</h3>
    <!--<form action="mailto:danielsanchezfuertes@gmail.com" method="post" enctype="text/plain">-->
    <form action="enviar_mail.php" method="post" enctype="text/plain">
        <label for="asunto">Asunto:</label><br/>
        <input type="text" id="asunto" name="asunto" required><br><br>
    
        <label for="correo">Tu Correo Electrónico:</label><br/>
        <input type="email" id="correo" name="correo" required><br><br>
    
        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea><br><br>
    
        <input type="submit" value="Enviar Email">
    </form>
    </article>
    <div class="card"><p>Mis redes Sociales: <br/>
        <redessociales></redessociales></p>
        <p><a routerLink="/principal"><button>Pagina Principal</button></a></p>
    </div>
</div>

<!--footer-->
<piepagina />
