<h3>Conversor / Calculadora Cryptomonedas</h3>
<h3>Fecha de última actualización: 14 de Julio de 2023</h3>
<p>DasafuSoft ("nosotros", "nuestro" o "nos") se compromete a proteger su privacidad. Esta política de privacidad describe cómo recopilamos, usamos y 
compartimos información personal sobre usted cuando utiliza nuestra aplicación de Android (la "Aplicación").</p>
<h3>Información que recopilamos</h3>
<p>Cuando utiliza nuestra aplicación, podemos recopilar información personal que usted nos proporciona directamente o que 
recopilamos automáticamente a través de la aplicación. La información personal que recopilamos puede incluir:</p>
<ol>
    <li>Información sobre su dispositivo, como el modelo, la versión del sistema operativo, el ID de publicidad y la dirección IP.</li>
</ol>
<H3>Cómo utilizamos su información</H3>
<p>Podemos utilizar la información personal que recopilamos para los siguientes fines:</p>
<ol>
    <li>Proporcionar y mantener nuestra aplicación, Conversor Cryptomonedas.</li>
    <li>Personalizar y mejorar la aplicación, incluyendo el contenido y las recomendaciones que se muestran.</li>
    <li>Analizar y entender cómo utiliza la aplicación.</li>
    <li>Cumplir con las leyes y regulaciones aplicables y proteger nuestros derechos legales.</li>
</ol>
<h3>Cómo compartimos su información:</h3>
<p>Podemos compartir su información personal con terceros en las siguientes circunstancias:</p>
<ol>
    <li>Con nuestros socios publicitarios para mostrar anuncios personalizados,</li>
    <li>Con las autoridades gubernamentales y los organismos encargados de hacer cumplir la ley, según lo requieran las leyes y regulaciones aplicables,</li>
    <li>En relación con una fusión, venta o transferencia de activos de nuestra empresa.</li>
</ol>
<h3>Sus derechos</h3>
<p>Usted tiene ciertos derechos con respecto a su información personal, incluido el derecho a acceder, rectificar y eliminar su información personal. 
Si desea ejercer cualquiera de estos derechos, comuníquese con nosotros utilizando la información de contacto que se proporciona a continuación.</p>
<h3>Seguridad</h3>
<p>Nos tomamos muy en serio la seguridad de su información personal y hemos implementado medidas técnicas y organizativas apropiadas para proteger <br/>
su información personal contra el acceso no autorizado, la divulgación y el uso indebido.</p>
<h3>Cambios en nuestra política de privacidad</h3>
<p>Podemos actualizar esta política de privacidad de vez en cuando. Le notificaremos cualquier cambio importante publicando la nueva 
política de privacidad en la aplicación. <br/>
Se le recomienda que revise esta política de privacidad periódicamente para estar al tanto de cualquier cambio.</p>

<h3>Información de Contacto</h3>
<p>Si tiene alguna pregunta o inquietud acerca de nuestra política de privacidad o sobre cómo manejamos su información personal, 
comuníquese con nosotros a través de dasan3d@yahoo.com.</p>
