@colorenlaceoriginal:#a4d079;
@colorenlace: #cfd914;
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    a{
      margin: 5px;
      padding: 5px;;
      color: @colorenlaceoriginal;
      background-color: green;
    } 
    
  }
.textoprivacidad{
  background-color: @colorenlace;
}
