<cabecera></cabecera>

<div class="content">
    <h2>Politicas Privacidad de mis Apps</h2>
    <p><a href="#"><button>Página Principal</button></a>
    <button id="enlaceConversor" 
        (click)="mostrarConversor= !mostrarConversor">{{mostrarConversor ? 'Ocultar' : 'Ver'}} Conversor Cryptomonedas</button>
    <button id="enlaceMp3" (click)="mostrarMp3 = !mostrarMp3">{{mostrarMp3 ? 'Ocultar':'Ver'}} Reproductor Mp3</button></p>
    
    <div id="conversor" class="textoprivacidad" *ngIf="mostrarConversor">
        <polityConversorCrypto></polityConversorCrypto>
    </div>
    <div id="reproMp3" class="textoprivacidad" *ngIf="mostrarMp3">
        <polityReproMp3/>
    </div>
</div>
<piepagina />
