<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="100" aria-label="Logo of Daniel Sanchez" src="assets/logoDS.png"/>
    
   
      <h2 class="tituloCabeza">Daniel Sanchez Fuertes</h2>
      <a title="Mi canal en Twitch" aria-label="Desan3D en Twitch" target="_blank" rel="noopener" href="https://www.twitch.tv/desan3d">
        <img width="50" alt="Mi canal de Twitch"  src="/assets/twitchlogo.svg"/>
      </a>
      <a title="Mi Instagram" aria-label="Desan3d en Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/desan3d/">
        <img width="50" alt="Mi Instagram" src="assets/instagramlogo.png" /> 
        
      </a>
      <a aria-label="Desan3D en YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/@desan3d253" title="YouTube">
        <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
        </svg>
      </a>
  </div>
