<!-- Toolbar -->
<cabecera/>

<!-- Cuerpo de la pagina -->
<div class="content" role="main">
  <div class="card-container">
    <div class="card"><p>Probando</p></div>
    <div class="card"><p>Probando</p></div>
    <div class="card"><p>Probando</p></div>
  </div>
</div>

  <!-- Footer -->
<piepagina/>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
