<!-- Cuerpo -->
<div role="main" class="content">
    <h2>Listado de algunas Apps que Tengo</h2>
    <article id="Cronometro">
        <h3>Cronometro</h3>    <hr>
        <div class="card" role="tab">
            <img width="50%" height="50%" [src]=ImagenCronometro.toString() alt="Imagen aplicación Cronómetro">
            <p>Esta aplicación es un simple cronómetro con una ventana circular. Con .NET Framework se pueden hacer ventanas con formas geométricas
            diferentes a las cuadradas. La app está hecha con V. Studio 2008 y VB .NET. <br/>
            <!--<a target="_blank" href="https://github.com/dsan3d/Cronometro" (click)="verAnuncio()">-->
                <a target="_blank" href="https://github.com/dsan3d/Cronometro">Pulsa aquí para descargarla desde GitHub.</a></p>
        </div>
    </article>
    <article id="gsofer">
        <h3>Garajes Sofer CRM</h3> <hr>
        <div class="card" role="tab">
            <img width="50%" height="50%" [src]=ImagenGarajes.toString() alt="Imagen Guaderia de Coches Aplicación">
            <p>Esta aplicación es un CRUD para gestión de clientes de un negocio de Parking. <br/>
            Lo hice por encargo para una pyme de Gijón, el 11 de Septiembre de 2001. Estaba hecho originalmente con VB 6, pero esta versión 
            la hice con V. Studio 2002 y VB .NET con .Net Framework 1. <br/>
            <!--<a target="_blank" href="https://github.com/dsan3d/GGuarderiaCoches" (click)="verAnuncio()">-->
                <a target="_blank" href="https://github.com/dsan3d/GGuarderiaCoches">Pulsa aquí para descargarla desde GitHub.</a></p>
        </div>
    </article>
    <article id="reproductor">
        <h3>Reproductor MP3</h3> <hr>
        <div class="card" role="tab">
            <img width="50%" height="50%" [src]=ImagenMpTres.toString() alt="Imagen aplicación Reproductor Mp3">
            <p>Un reproductor Mp3 para Windows XP. <br/>
            Esta hecho con Visual Studio 2005, .NET Framework 2 y VB .NET. Utiliza una dll externa de Windows Media player.
            <br/>Puedes descargar la aplicación desde 
                <!--<a target="_blank" href="https://github.com/dsan3d/ReproductorMp3" (click)="verAnuncio()">-->
                    <a target="_blank" href="https://github.com/dsan3d/ReproductorMp3">este enlace de GitHub.</a></p>
        </div>
    </article>
    <article id="jpeseta">
        <h3>Juego de la Peseta</h3><hr>
        <div class="card" role="tab">
            <img width="50%" height="50%" [src]=ImagenJPeseta.toString() alt="Imagen aplicación JPeseta">
            <p>La primera versión de esta aplicación la hice en QBasic para MSDOS a mediados de los 90. Esta versión es una migración 
                que hice para Windows XP con V. Studio 2002 y VB NET. El código fuente lo perdí (o no recuerdo donde lo guardé). <br/>
                En el año 2002 publiqué 
                <!--<a href="https://jpeseta.softonic.com" target="_blank" (click)="verAnuncio()">-->
                    <a href="https://jpeseta.softonic.com" target="_blank">esta app en Softonic</a>. 
                Puedes visitar <!--<a href="https://github.com/dsan3d/jpeseta" target="_blank" (click)="verAnuncio()">-->
                    <a href="https://github.com/dsan3d/jpeseta" target="_blank">mi cuenta de github para descargarlo</a> si quieres.
            </p>
        </div>
    </article>
    <article id="cryptocoin">
        <h3>Cryptocoin Calculadora Cryptomonedas</h3> <hr>
        <div class="card" role="tab">
            <img width="50%" height="50%" [src]=ImagenConversor.toString() alt="Imagen aplicación Conversor Cryptomonedas">
            <p>Esta aplicación es un conversor / calculadora de Cryptomonedas y también un lector de noticias.
            Está publicada en la Windows Store y en Google Play Store. Puedes descargarla desde 
            <!--<a target="_blank" href="https://github.com/dsan3d" (click)="verAnuncio()">-->
                <a target="_blank" href="https://github.com/dsan3d">mi perfil de GitHub.</a> <br/>
            Esta realizada con Visual Studio 2022 y C# con .NET MAUI. y hace uso de una API REST.</p>
        </div>
    </article>
</div>
<!--Footer -->
<piepagina/>