<div class="content" role="main">
    <h2>Pintor de Miniaturas</h2>
    <cardpintura></cardpintura>
    <p>Soy pintor de miniaturas por afición, aunque también pinto piezas de impresión 3D.</p>
    <p>Puedes encargarme que te pinte alguna miniatura o pieza de impresión 3D si me escribes un privado a 
        <a title="Mi Instagram" aria-label="Desan3d en Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/desan3d/">
            mi cuenta de Instagram.</a></p>
</div>
<!-- Footer de la pagina-->
<piepagina/>