<div class="content" role="main">
   <img class="imgRedonda" src="assets/fotomia.png">
   <p>Hola, Soy Daniel<br />
      Soy programador full stack especializado en tecnología .NET. <br/>
      Hago aplicaciones para Windows, Windows Mobile y Android con Xamarin Forms y .NET MAUI</p>
   <p>Esta página web que estás viendo esta realizada con el Framework Web Angular. <br/>
      Puedes ver ejemplos de mi trabajo en <a href="https://github.com/dsan3d" target="_blank" (click)="verAnuncio()">mi repositorio de GitHub</a> que tengo enlazado en la cabecera y el pie de página</p>
      <p>Si quieres ver mi curriculum vitae puedes acceder a <a href="https://www.linkedin.com/in/danisanfuertes/" target="_blank" (click)="verAnuncio()">mi cuenta de linkedin</a> y pedirmelo por mensaje privado.</p>
      <div class="card-container" role="tablist">        
        <app-cardapps></app-cardapps>
        <cardcults3d></cardcults3d>
        <cardpintura></cardpintura>
        <article></article>   
      </div>
</div>
 <!-- Footer -->
<piepagina/>
