<div class="content" role="main">
<img class="imgRedonda" src="assets/fotomia.png">
<p>Hola, Soy Daniel<br />
   Soy programador full stack especializado en tecnología .NET. <br/>
   Hago aplicaciones para Windows, Windows Mobile y Android con Xamarin Forms y .NET MAUI</p>
<p> </p>
   <p>Esta página web que estás viendo esta realizada con el Framework Web Angular. <br/>
 Puedes ver ejemplos de mi trabajo en mi repositorio de GitHub que tengo enlazado en la cabecera y el pie de página</p>

    <div class="card-container" role="tablist">        
        <cardapps></cardapps>
        <cardcults3d></cardcults3d>
        <cardpintura></cardpintura>               
    </div>
</div>
 <!-- Footer -->
<piepagina/>
