<!--Cuerpo Principal -->
<div class="content" role="main">
    <h2>Diseñador / Impresor Tecnología Aditiva</h2>
    <cardcults3d></cardcults3d>
    <p>Tengo una impresora 3D en casa y también una cuenta de diseñador en la web cults3d.com. <br/>
    Tengo conocimientos de diseño 3D y trabajo con las herramientas de diseño: TinkerCAD, 3DBuilder y FreeCAD.</p>
    <p>Puedes ponerte en contacto conmigo si quieres que te fabrique o diseñe algo con Impresión 3D, a través de mis Redes Sociales.</p>
</div>
<!--Footer -->
<piepagina/>